@media(max-width:740px) {
  .app{
    &__text{
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
  .container{
    padding: 0 10px;
  }
}

@media(max-width:560px) {
  .app {
    &__text {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 20px;
      height: 60px;
    }
    &__input{
      height: 200px;
      font-size: 18px;
      line-height: 22px;
    }
    &__inner{
      gap: 10px;
    }
    &__select{
      font-size: 18px;
      padding: 3px;
    }
    &__title{
      font-size: 25px;
      margin-bottom: 15px;
      padding-top: 5px;
    }
  }
}

@media(max-width:400px) {
  .app {
    &__inner{
      flex-direction: column;
      gap: 25px;
    }
    &__text{
      height: auto;
    }
    &__title{
      margin-bottom: 10px;
    }
  }

}